@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import './chat.scss';
* {
  margin: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
$maincolor: #4796ff;
$bodycolor: rgb(243, 244, 245);
body {
  font-family: 'Inter', sans-serif;
  background-color: $bodycolor;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}
.wide-container {
  max-width: 1150px;
  margin: 0 auto;
}

main#main {
  .wrapper {
    margin-top: 150px;
    &__header {
      margin-bottom: 50px;
      h1 {
        font-weight: 900;
        margin-bottom: 0;
        font-size: 80px;
        color: $maincolor;
      }
      p {
        font-size: 35px;
        font-weight: bold;
        span {
          color: $maincolor;
        }
      }
    }
    &__loginform {
      form {
        & * {
          display: block;
        }
        label {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        input {
          width: 100%;
          font-size: 30px;
          padding: 20px 10px;
          border-radius: 4px;
          border: 2px solid rgba($color: #101010, $alpha: 0.2);
        }
        button {
          width: 100%;
          background-image: url('../img/right-arrow.svg');
          background-repeat: no-repeat;
          background-size: 30px 30px;
          font-size: 25px;
          background-position: right 20px bottom 50%;
          padding: 10px 20px;
          background-color: $maincolor;
          border: none;
          width: 50%;
          margin-top: 30px;
          margin-left: auto;
          font-weight: bold;
          &:focus {
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}
